.StatsCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

.StatsCard {
  width: 70%;
  height: 50%;
  background-color: hsl(244, 38%, 16%);
  border-radius: 1rem;
}

.StatsCardContent {
  display: flex;
  flex-direction: column;
  justify-content: between;
  height: 100%;
}

.StatsCardContent__leftSide {
  display: flex;
  flex-direction: column;
  justify-content: between;
  color: white;
  padding: 15px;
}

.StatsCardContent__rightSide {
  width: 50%;
  height: 100%;
  background-image: url("/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
