.StatsCard {
  background-color: hsl(244, 38%, 16%);
}

.BackgroundImage {
  background-image: url("/image-header-mobile.jpg");
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
}

.VioletColor {
  color: hsl(277, 64%, 61%);
}
